html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
}
.height {
  padding-top: 78px;
}

.container {
  width: 900px;
  margin: 0 auto;
}
.style:hover {
  color: #03a9f4;
}
.page-nav {
  margin: 0;
  padding: 0px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.style {
  width: 900px;
  text-decoration: none;
}
.style-menu:nth-child(4n) {
  margin-right: 0;
}

.page-nav li {
  display: inline-block;
}
.style-menu {
  margin-right: 120px;
}
header {
  padding-bottom: 120px;
}
.one-section {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0px;
  margin: auto;
}
.one-section li {
  display: inline-block;
  width: 420px;
  padding: 0px;
  margin-right: 60px;
}
.one-section li:nth-child(2n) {
  margin-right: 0;
}

.one-section p {
  font-size: 14px;
}
.indentation {
  margin-bottom: 140px;
}

div {
  text-align: center;
}
.big-letters {
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.71px;
  color: #b4ad9e;
}
h2 {
  font-size: 30px;
}
img {
  width: 420px;
  height: 280px;
  margin-bottom: 27px;
}

.one-section {
  margin-bottom: 0;
}
.text-aling {
  line-height: 24px;
}
.main {
  padding-top: 15px;
}
.border-button {
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 56px;
}
.text-button {
  display: block;
  border: none;
  padding: 20px 35px;
  margin: auto;
  background-color: white;
  font-size: 20px;
  line-height: 24px;
  outline: 1px solid rgb(98, 98, 98);
  cursor: pointer;
  color: rgb(98, 98, 98);
  margin-top: 50px;
  width: 166px;
  height: 60px;
  padding: 0;
}
